.sidebar {
  list-style-type: none;
}

.sidelist {
  padding: 5px;
  display: inline-block;
}

.left {
  height: 100%;
  position: fixed;
  overflow: auto;
  width: 178px;
}

.middle {
  left:178px; top:92px; right:0; bottom:0;
  height: 200px;
}

#form {
    display:none;
    width: 0px;
}

#trigger {
  position: static;
}
